* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  background-color: aquamarine;
  width: 100vw;
}

.card-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.character-card {
  text-align: center;
  border: solid;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

img {
  height: 8rem;
  width: 8rem;
  border-radius: 1rem;
}